.playlist-container {
    padding: 20px;
}

.playlist-container-2 {
    isolation: isolate;
    margin-top: 20px;
}

.playlist-song-area {
    display: grid;
}

.playlist-song-area-1 {
    display: grid;
    grid-template-columns: [index] var(--tracklist-index-column-width, 16px) [first] minmax(120px,var(--col1, 6fr)) [var1] minmax(120px,var(--col2, 4fr)) [var2] minmax(120px,var(--col3, 3fr)) [last] minmax(120px,var(--col4, 1fr));
    /* grid-template-columns: [ index ] var(--tracklist-index-column-width, 16px) [ first ] minmax(120px, var(--col1, 6fr)) [ var1 ] minmax(120px, var(--col2, 4fr)) [ var2 ] minmax(120px, var(--col3, 3fr)) [ var3 ] minmax(120px, var(--col3, 3fr)) [ last ] minmax(20px, var(--col5, 1fr)); */
}

.playlist-line {
    border-bottom: 1px solid white;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 25px;
    margin: 0 calc(var(--content-spacing)*-1) calc(var(--content-spacing) - 8px);
    padding: 0 var(--content-spacing);
    position: sticky;
    z-index: 2;
    top: 64px;
}

.playlist-song-area-2 {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: [index] var(--tracklist-index-column-width, 16px) [first] minmax(120px,var(--col1, 6fr)) [var1] minmax(120px,var(--col2, 4fr)) [var2] minmax(120px,var(--col3, 3fr)) [last] minmax(120px,var(--col4, 1fr));
    /* grid-template-columns: [ index ] var(--tracklist-index-column-width, 16px) [ first ] minmax(120px, var(--col1, 6fr)) [ var1 ] minmax(120px, var(--col2, 4fr)) [ var2 ] minmax(120px, var(--col3, 3fr)) [ var3 ] minmax(120px, var(--col3, 3fr)) [ last ] minmax(20px, var(--col5, 1fr)); */
    align-items: center;
    padding: 0 10px;
}

.playlist-song-list {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    margin-left: 10px;
}

.playlist-song-area-2:hover {
    background-color: #292929;
    cursor: pointer;
}

.playlist-song-area-2-timer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}