/* second components  */

.secondcompo {
    background-color: #121212;
    color: white;
    max-height: 100vh;
    width: auto;
    border-radius: 5px;
    overflow-y: auto;
    height: 85%;
}

.firstsection {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

}

.firstsection-1 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.firstsection-1 span {
    cursor: not-allowed;
}

.firstsection-2 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.firstsection-2 h3 {
    color: #6a6a6a;
}

.firstsection-2 h3:hover {
    color: white;
    cursor: pointer;
}

.firstsection-2 button {
    padding: 10px;
}

.secondsection {
    background-color: linear-gradient(#050505, #18181d);
    margin-top: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.secondsection-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.secondsection-1 h3:hover {
    color: whitesmoke;
    cursor: pointer;
    text-decoration: underline;
}

.secondsection-2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 20px;
    gap: 29px;
}

.secondsection-2-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* background-color: hsla(0,0%,100%,.1); */
    background: transparent;
    border-radius: 8px;
    gap: 10px;
    /* width: 100%; */
    isolation: isolate;
    padding: 16px;
    position: relative;
    -webkit-transition: background-color .3s ease;
    transition: background-color .3s ease;
}

.secondsection-2 img {
    /* min-height: 10px; */
    object-fit:cover;
    min-width: 10rem;
    max-width: 10rem;
    min-height: 10rem;
    max-height: 10rem;
}

.secondsection-2 :hover {
    background-color: #6a6a6a;
    /* background-color: hsla(0,0%,100%,.1); */
    border-radius: 5px;
    cursor: pointer;
    /* width: 30px; */
    /* padding: 3px; */
    border-radius: 8px;
    /* -webkit-box-flex: 1; */
    /* background: #726262; */
    /* -ms-flex: 1; */
    /* flex: 1; */
    isolation: isolate;
    position: relative;
    -webkit-transition: background-color .3s ease;
    transition: background-color .3s ease;
}

.secondcompo::-webkit-scrollbar {
    display:none;
}

.secondcompo::-webkit-scrollbar {
    width: 12px; 
}


.secondcompo::-webkit-scrollbar-track {
    background: #f1f1f1; 
}


.secondcompo::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 6px; 
}

.secondcompo::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.profile-mini-cart {
    display: block;
    position: absolute;
    inset: 0px 0px auto auto;
    transform: translate3d(-24px, 64px, 0px);
    background-color:#242424;
    color: hsla(0,0%,100%,.9);
    width: 200px;
    height: auto;
    min-height: 300px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 100;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile-mini-cart-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: auto;
    user-select: none;
    padding: 10px;
}

.profile-mini-cart-logout {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: auto;
    border-top: 1px solid #ccc;
    user-select: none;
    padding: 10px;
}

.profile-mini-cart :hover {
    user-select: none;
    background-color: hsla(0,0%,100%,.1);
    cursor: pointer;
}

.profile-mini-cart p {
    margin-left: 5px;
}

.ellipsis-click-mini-cart {
    z-index: 9999;
    position: absolute;
    inset: 290px 110px auto auto;
    margin: 0px;
    /* transform: translate3d(124px, -318px, 0px); */
}

.ellipsis-click-mini-cart-1 {
    -webkit-app-region: no-drag;
    background-color: #282828;
    border-radius: 4px;
    -webkit-box-shadow: 0 16px 24px rgba(0, 0, 0, .3), 0 6px 8px rgba(0, 0, 0, .2);
    box-shadow: 0 16px 24px rgba(0, 0, 0, .3), 0 6px 8px rgba(0, 0, 0, .2);
    max-height: calc(100vh - 24px);
    max-width: 350px;
    min-width: 160px;
    overflow-y: auto;
    padding: 4px;
    z-index: 9999;
}

.ellipsis-click-mini-cart-1 div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 5px;
}

.ellipsis-click-mini-cart-1 div:hover {
    background: #888;
}